@import 'abstracts/mixins';
@import 'base/baseColors';
@import 'base/reset';
@import 'base/typography';
@import 'themes/background';
@import 'layout/grids';
@import 'components/flex';
@import 'components/buttons';
@import 'components/cards';
@import 'components/sprites/Anna/anna';
//@import 'components/sprites/Stella/stella';
@import 'pages/404';
.button{
    @include primaryButton;
    span{
        display: block;
        height: 100%;
        width: 100%;
    }
}
@import 'pages/keyframes';
@import 'pages/mediaquery';
