<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title Document
    body
    .background
        .grid
            .message
                h2. 
                    404
                h1.
                    Seems that you've gotten lost... 
            .Anna
                img.mouth(src='assets/Anna/annaMouth2.gif' alt='' srcset='')
                img.eye(src='assets/Anna/eyes.gif' alt='')
                img.body(src='assets/Anna/normal_2.png' alt='' srcset='')
    audio(class="audio")
        source(src="assets/404/bleep_high.ogg", type="audio/ogg")


    script. 
        /*var body = document.querySelector('body');
        var audio = document.querySelector(".audio");
        audio.loop = true;
        audio.playbackRate = 1.5;
        body.addEventListener('click',function(e){
            audio.play();
        })*/
