
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title Document
    body
        main.container
            .card
                h4. 
                    Me llamo Roner Ortega 
                h2. 
                    asdasda
                h3. 
                    asdasd
                ul
                    li.
                        Trabaje en DDB MultiSponsor como #[strong Analista de datos] durante 3 meses.
                .button
                    span click me
        script(src="reload/reload.js")

