////Styles of Anna sprite
.Anna{
    display: flex;
    justify-self: center;
    grid-column-start: 2;
    grid-row-start:2;
    img{
        image-rendering: pixelated;
    }
    .mouth{
        position: fixed;
        margin-top:92px;
        margin-left:53px;
        display: none;

    }
    .eye{
        position: fixed;    
        margin-top: 60px;
        margin-left: 35px;
        display: none;
        
    }
}
