.background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    image-rendering: pixelated;
    background-image: url(https://data.whicdn.com/images/106548116/original.gif);
    overflow: hidden;
}
.message{
    @include messageText;
    h1{
        @include textAnimationPropieties(3.5s);
        }
    h3{
        @include textAnimationPropieties(1s);
        position: relative;
        bottom: 150px;
        border-right: initial; /* The typwriter cursor */
    }
}
